body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 70px;
	font-size: 15px;
  background-color: #F5F7F8;
}

.thumbnail .about {
	position: absolute;
	bottom: 5px;
	right: 25px;
	padding: 10px;
	font-size: 3em;
	color: #fff;
	font-family: "Quicksand";
}

.about h1 {
	background-color: rgba(245, 22, 41, 0.7);
	display: inline-block;
  padding: 5px;
}

.about p {
	background-color: rgba(17, 87, 24, 0.7);
  font-size: 25px;
  padding: 5px;
} 

#tribute-info {
  display: block;
  margin: auto;
  padding: 0;
  list-style: none;
} 

#tribute-info li {
  border: 2px solid rgb(109, 105, 105);
  border-radius: 10px;
  background-color: white;
  padding: 15px;  
  margin: 10px 0px; 
} 

.card:hover {
	box-shadow: 1px 1px 15px 10px #051d0a;
}
 
.quote:hover {
	box-shadow: 1px 1px 15px 5px #fffb02;
}

mark{
  background-color: #fffb02;
}

@media (min-width: 200px) {
  .thumbnail {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0), rgba(0,0,0,0.0), rgba(0,40,0,1)), url("https://i2-prod.liverpoolecho.co.uk/incoming/article15188080.ece/binary/1_JS163301393.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .text-left-1{
    margin-left: 600px;
  }
  #text-left-2{
    margin-left: 500px;
  }
}
 
@media (min-width: 900px) {
  .text-left-1{
    margin-left: 200px;
  }
  #text-left-2{
    margin-left: 600px;
    margin-bottom: 300px; 
  }

}

 
 